/* ======================================
FOOTER
========================================= */
footer {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}