/* ======================================
NAV
========================================= */
header {
    background-color: #212121;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}





