/* ======================================
NAV
========================================= */
header {
    background-color: #212121;
}

nav {
    display: flex;
    justify-content: center;
}

.nav__links {
    display: flex;
    padding-left: 0;
}

.nav__links a {
    color: #ffffff;
    text-decoration: none;
}




